body {
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 800px;
  margin: 1em;
}
.wide-container {
  max-width: 1200px;
  margin: 1em;
}
nav {
  font-size: 120%;
  text-align: center;
}
a {
  color: #C00;
  text-decoration: none;
}
a:hover {
  color: #F33;
  text-decoration: underline;
}
h1.title, h2.subtitle {
  text-align: center;
}
body.index h1 {
  font-size: 3em;
  margin-bottom: 0;
  text-align: center;
}
body.index h2 {
  font-size: 1.6em;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}
p.lead {
  font-size: 120%;
  margin-top: 1em;
}
ul {
  margin: 2em 0 3em;
}
li {
  font-size: 1.2em;
  line-height: 1.5em;
}
.section {
  margin: 2em 0;
}
.chapter, .preamble, .subscription, .epilogue {
  margin: 1em 0;
  line-height: 1.8em;
  font-size: 1.3em;
}
.section_title {
  font-size: 1.6em;
  text-align: center;
}
.chapter_ref {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
  text-align: center;
  color: #C00;
}
.epilogue_title {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
  text-align: center;
}
.verse_ref {
  color: #C00;
  font-size: 70%;
  font-family: sans-serif;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.tokens {
  margin: 20px 0;
}
.tokens .token {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 4px 20px;
}
.token .ref {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  color: #999;
}
.token .text {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.token .lemma {
  font-size: 16px;
  color: #333;
}
.token .pos {
  font-size: 14px;
  color: #999;
}
.token .analysis {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  color: #999;
}
.token .gloss {
  font-size: 16px;
  color: #333;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: space-between;
}
.translation {
  clear: right;
  margin: 2em 0;
  font-size: 18px;
}
.translation cite {
  color: #999;
  font-size: 12px;
  line-height: 30px;
  float: right;
  padding-left: 2em;
}
.issues {
  margin: 2em 0;
  color: #666;
  font-size: 14px;
}
